

<% if user_signed_in? %>
<%= button_to "新規投稿", {controller: 'posts',action: 'new'},{method: :get} %>
<% end %>
<% @posts.each do |post| %>
    <tr>
        <td><%= post.user.name%></td>
        
        <td><%= post.content %></td>

        <td><%= link_to "編集" , edit_post_path(post), class: "btn btn-primary"%></td>

        <td><%= link_to "削除", post_path(post),method: :delete%></td>
        <br>
    </tr>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<% end %>

